@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

$plainFont: "Open Sans";

$accentColor: rgb(245, 87, 74);
$plainColor: rgb(53, 51, 49);
$whiteColor: rgb(255, 255, 255);
$supportColorLight: rgb(248, 248, 250);
$color2: rgb(254, 248, 222);
$color3: rgb(255, 185, 178);
